@model IEnumerable<ASP2236903.Models.usuariorol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @ASP2236903.Controllers.UsuarioRolController.NombreUsuario(item.idUsuario)
            </td>
            <td>
                @ASP2236903.Controllers.UsuarioRolController.DescripcionRol(item.idRol)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Está seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}
